
body {
  background: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#portfolio {
  border: 2px solid black; 
  color: white;
  height: auto;
  overflow: none;
  width: 24%;
  margin-right: 5px;
  margin-left: 5px;
}

#thumb {
  height: 100px;
  width: 100px;
}

#icons{
  font-size: 50px;
  color: white;
}

#about {
  font-size: 30px;
  color: white;
  position: fixed;
  bottom: 35%;
}
#title {
  font-size: 20px;
  color: white;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer ul li:hover a i {
	font-size:100px;
	margin-top:-50px;
}


